@using MoleGame.Components
@page "/"

<div class="gear-icon-container" @onclick="TogglePopup">
    <img src="img/gear.png" class="gear-icon" alt="Settings"/>
</div>

@if (isPopupVisible)
{
    <div class="popup-overlay">
        <div class="popup-content">
            <h2>Select Difficulty</h2>
            <button @onclick="@(() => SetDifficulty("easy"))">Easy</button>
            <button @onclick="@(() => SetDifficulty("medium"))">Medium</button>
            <button @onclick="@(() => SetDifficulty("hard"))">Hard</button>
            <button class="close-button" @onclick="TogglePopup">Close</button>  
        </div>
    </div>
}


<div class="wallpaper">

<div class="info-container">
       
    <p class="title">Mouse Tracking Trainer</p>
    <div class="game-info">
        <h2 style="margin-top:15px">Score: @score</h2>
        <button class="start-button">Start</button>
        <h2 style="margin-top:15px">Time: @currentTime</h2>
    </div>

    <div class="board">
        @foreach (var s in Squares)
        {
            <Square SquareModel = "s" onMouseUp="()=>MouseUp(s)"/>
        }
    </div>
</div>
</div>



@code {
    private bool isPopupVisible = false;

    private void TogglePopup()
    {
        isPopupVisible = !isPopupVisible;
    }

    PeriodicTimer gameLoopTimer;
    PeriodicTimer gameTimeTimer;

    private void MouseUp(SquareModel s)
    {
        if (gameIsRunning)
        {
            if(s.Id == hitPosition)
            {
                score += 1;
            }
        }
    }

    private Random random = new Random();
    int? lastPosition = null;

    private void SetNextAppearance()
    {
        foreach(var item in Squares)
        {
            item.IsShown = false;
        }

        int randomPosition;

        do
        {
            randomPosition = random.Next(0, 150);
        } while (lastPosition == randomPosition);

        Squares[randomPosition].IsShown = true;
        hitPosition = randomPosition;
        lastPosition = randomPosition;
        StateHasChanged();
    }

    private async Task GameLoopAsync(PeriodicTimer timer)
    {
        while (gameIsRunning)
        {
            SetNextAppearance();
            await timer.WaitForNextTickAsync();
        }
    }

    private async Task GameTimeAsync(PeriodicTimer timer)
    {
        while (gameIsRunning)
        {
            currentTime--;
            if(currentTime == 0)
            {
                message = "Game ended!!";
                gameIsRunning = false;
            }
            StateHasChanged();
            await timer.WaitForNextTickAsync();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        gameLoopTimer = new PeriodicTimer(TimeSpan.FromMilliseconds(gameSpeed));
        _ = GameLoopAsync(gameLoopTimer);
        gameTimeTimer = new PeriodicTimer(TimeSpan.FromSeconds(1));
        _ = GameTimeAsync(gameTimeTimer);
    }


}